<?xml version='1.0' encoding='utf-8'?>
<widget id="com.multirotorstuff.vtx-calc2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>VTX Calculator</name>
    <description>
        Calcuates even channel distribution for FPV pilots
    </description>
    <author email="therippa@gmail.com" href="http://www.multirotorstuff.com">
        Jason Baker
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.statusbar" />
    <icon src="icon.png" />


    <icon src="icon.png" />

    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/icons/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icons/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/icons/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />



    <icon src="res/icons/android/icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icons/android/icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icons/android/icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icons/android/icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/icons/android/icon-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="res/icons/android/icon-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />

    <icon src="res/icons/wp8/ApplicationIcon.png" gap:platform="winphone" />
    <icon src="res/icons/wp8/Background.png" gap:platform="winphone" gap:role="background" />

    <gap:splash src="splash.png" />

    <gap:splash src="res/splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="res/splash/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="res/splash/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="res/splash/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
    <gap:splash src="res/splash/ios/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />
    <gap:splash src="res/splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="res/splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="res/splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="res/splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

    <gap:splash src="res/splash/android/ldpi.png" gap:platform="android" />
    <gap:splash src="res/splash/android/landscape-ldpi.png" gap:platform="android" gap:qualifier="land-ldpi" />
    <gap:splash src="res/splash/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/splash/android/landscape-mdpi.png" gap:platform="android" gap:qualifier="land-mdpi" />
    <gap:splash src="res/splash/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/splash/android/landscape-hdpi.png" gap:platform="android" gap:qualifier="land-hdpi" />
    <gap:splash src="res/splash/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="res/splash/android/landscape-xhdpi.png" gap:platform="android" gap:qualifier="land-xhdpi" />

    <gap:splash src="res/splash/wp8/SplashScreenImage.jpg" gap:platform="winphone" />



    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" /> 
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
</widget>
